<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Artist</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="artist:${artists}">
                    <td th:text="${artist.getName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Song</th>
                    <th scope="col">Composer</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="song:${songs}">
                    <td th:text="${song.getName()}"></td>
                    <td th:text="${song.getComposer()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-4">
            <table class="table table-striped table-bordered table-hover table-dark">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Genre</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="genre:${genres}">
                    <td th:text="${genre.getName()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <form th:action="@{/result}" th:object="${searchObject}" method="get">
        <h4 class="center">Search for song</h4>
        <input type="text" id="searchInput" th:field="*{name}" required />
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>



</body>
</html>